$color: #f9f9f9;
$boxydev-color: #29a9fd;

body {
    margin: 0;
    padding: 50px 0 0;
    font-family: 'Lucida Grande', 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.45;
    background-color: $color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 32px;
}

code {
    font-family: 'Operator Mono', monospace;
    background-color: #282a36;
    color: #ffffff;
    padding: 1px 4px;
}

a {
    color: $boxydev-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    > img {
        border: 0;
    }
}

.wrap {
    max-width: 960px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    background: #222222;
    color: #fafafa;
    position: fixed;
    top: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    width: 100%;
    height: 50px;
}

.nav-home {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    display: inline-block;
    text-decoration: none!important;

    .nav-logo {
        height: 50px;
        vertical-align: top;
    }

    @media (max-width: 768px) {
        .nav-logo-text {
            display: none;
        }
    }
}

.nav-list {
    display: inline-block;
    vertical-align: top;

    ul {
        margin: 0;
        padding: 0;
        display: inline-block;
    }

    .nav-left {
        margin: 0 0 0 20px;
    }

    .nav-right {
        float: right;
    }

    li {
        display: inline;
    
        > a {
            padding: 0 10px;
            line-height: 50px;
            height: 50px;
            display: inline-block;
            color: #ddd;
            text-decoration: none;

            &:hover {
                color: #fff;
            }

            &.active {
                position: relative;
                color: #fafafa;
                background: #333;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border-bottom: 3px solid $boxydev-color;
                }
            }
        }
    }
}

.page-content {
    min-height: 700px;
    padding-top: 20px;
    padding-bottom: 50px;

    img {
        display: block;
        max-width: 100%;
        margin: auto;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
}

.edit-page-link {
    float: right;
    margin-top: 13px;
}

footer {
    text-align: center;
    padding: 20px 0;
    color: #ddd;
    background: #2D2D2D;
    box-shadow: inset 0 10px 10px -5px #0d1116;
}
