$color: #f9f9f9;
$boxydev-color: #29a9fd;

body, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    background-color: $color;
}

a {
    color: $boxydev-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    > img {
        border: 0;
    }
}

.wrap {
    max-width: 960px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    background: #222222;
    color: #fafafa;
    position: fixed;
    top: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    width: 100%;
    height: 50px;
}

.nav-home {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    display: inline-block;
    text-decoration: none!important;

    .nav-logo {
        height: 50px;
        vertical-align: top;
    }
}

.nav-list {
    display: inline-block;
    vertical-align: top;

    .nav-left {
        margin: 0 0 0 20px;
    }

    .nav-right {
        float: right;
    }

    ul {
        display: inline-block;
    }

    li {
        display: inline;
    
        > a {
            padding: 0 10px;
            line-height: 50px;
            height: 50px;
            display: inline-block;
            color: #ddd;
            text-decoration: none;

            &:hover {
                color: #fff;
            }

            &.active {
                position: relative;
                color: #fafafa;
                background: #333;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border-bottom: 3px solid $boxydev-color;
                }
            }
        }
    }
}

.edit-page-link {
    float: right;
    margin-top: 15px;
}

footer {
    text-align: center;
}